[Unit]
Description=GitHub Actions Self-Hosted Runner
After=network-online.target enable-docker-access.service

[Service]
Type=simple
ExecStart=/bin/sudo -u runner /actions-runner/run.sh
ExecStopPost=/bin/systemctl poweroff
WorkingDirectory=/actions-runner

[Install]
WantedBy=multi-user.target
