[Unit]
Description=GitHub Actions Self-Hosted Runner
After=network-online.target enable-docker-access.service

[Service]
Type=simple
ExecStart=/actions-runner/run.sh
WorkingDirectory=/actions-runner
User=runner
Group=runner

[Install]
WantedBy=multi-user.target
